/* Estilo para el botón de agregar producto */
.add-product-button {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #6C48C5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 3000;
}

.add-product-button:hover {
    background-color: #C68FE6;
}

/* Contenedor de las cards de productos */
.product-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

/* Estilo de cada card de producto */
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    min-height: 350px;
    height: auto;
}

/* Efecto hover para las cards */
.product-card:hover {
    transform: scale(1.05);
}

/* Imagen dentro de la card */
.product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Título y detalles de la card */
.product-card h3,
.product-card p {
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
    text-align: left;
}

.product-card p {
    font-size: 0.9rem;
    color: #555;
}

/* Estilo de los botones en las cards */
.product-card button {
    background-color: #C68FE6;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin-top: 1px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

/* Contenedor de los botones */
.product-card .button-container {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-top: 5px;
}

/* Efecto hover en los botones */
.product-card button:hover {
    background-color: #0056b3;
}

/* Estilo para todos los cuadros de diálogo */
.edit-dialog, .existencias-dialog, .add-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    animation: fadeIn 0.3s ease;
}

/* Contenedor del formulario */
.dialog-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilo de las etiquetas */
.dialog-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


/* Diseño en dos columnas para los formularios */
.dialog-content form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 15px;
}

/* Inputs con mejor apariencia */
.dialog-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.dialog-content input:focus {
    border-color: #6C48C5;
    outline: none;
}

/* Reducir el ancho de los campos */
.dialog-content input[type="text"],
.dialog-content input[type="number"] {
    max-width: 100%;
}



/* Contenedor del campo de texto y botón */
.proveedor-input-container {
    display: flex;
    align-items: center;
}

/* Estilo para el botón con el símbolo + */
.add-proveedor-button {
    background: none;
    border: none;
    color: #6C48C5; /* Color morado */
    font-size: 1.5rem; /* Tamaño del símbolo + */
    cursor: pointer;
    margin-left: 8px; /* Espaciado entre el campo de texto y el botón */
    transition: color 0.3s ease;
}

/* Efecto hover en el símbolo + */
.add-proveedor-button:hover {
    color: #C68FE6; /* Color morado más claro */
}

/* Estilo para el campo de texto */
.proveedor-input-container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}


/* Animación */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* =========== BARRA DE FILTROS ================ */

/* Barra de filtros flotante */
.barraFiltros { 
    position: fixed;
    width: 100%;
    z-index: 1050; /* Mayor que el de la navbar */
    margin-top: -2%;
  }
  
  /* Ajuste del contenedor para evitar superposición con la barra */
  .contenedorProductos {
    margin-top: 100px;
  }
  
  .input-group {
    color: white;
  }
  
  .input-group select {
    background-color: #6335d8;
    color: white;
  }
  
  .btn-icon {
    width: 50px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
    background-color: #6335d8;
  }
  
  .btn-icon:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    color: #C68FE6;
  }
  
  .btn-icon svg {
    transition: transform 0.3s ease-in-out;
  }
  
  .btn-icon:hover svg {
    transform: scale(1.2);
  }
  
/* Acomodar el botón de agregar producto */
.add-product-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px; 
  }
  
  .add-product-btn button {
    margin-left: 7px;
    background-color: #6335d8; /* Color morado */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s ease; /* Suaviza la transición del color */
  }
  
  /* Cambio de color al pasar el cursor */
  .add-product-btn button:hover {
    background-color: #b88cfc; /* Color lila */
    cursor: pointer; /* Cambiar cursor a mano al pasar por encima */
  }
  
  /* =========== Cantidad de almacén ================ */

  .almacen-rojo {
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.226);
  }
  
  .almacen-naranja {
    background-color: rgba(255, 128, 0, 0.459);
    font-weight: bold;
  }
  
  .almacen-verde {
    background-color: rgba(0, 255, 68, 0.429);
    font-weight: bold;
  }
  
  .cantidad-almacen{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }