<!-- Filtros -->
<div class="filtros-container d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 p-3 bg-light rounded shadow">
    <div class="d-flex flex-column flex-sm-row align-items-center gap-2 w-100">
        
        <!-- Select Ordenar -->
        <div class="input-group">
            <select [(ngModel)]="filtro" id="filtro" name="filtro" (change)="filtrarPorCategoria(filtro)" class="form-select">
                <option value="" disabled selected>Ordenar por categoría</option>
                <option value="">Todos</option>
                <option *ngFor="let categoria of categorias" [value]="categoria.nombreCategoria">
                    {{ categoria.nombreCategoria }}
                </option>
            </select>
        </div>

        <!-- Input de búsqueda por nombre -->
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Nombre del producto" aria-label="Search"
                [(ngModel)]="nombreProducto" (input)="filtrarPorNombre(nombreProducto)" />
            <button class="btn btn-outline-success" type="button" (click)="filtrarPorNombre(nombreProducto)">
                Buscar
            </button>
        </div>

        <!-- Input de búsqueda por código de barras con botón al lado -->
        <div class="d-flex align-items-center gap-2">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Código del producto" aria-label="Search"
                    [(ngModel)]="codigoBarras" (input)="filtrarPorCodigoBarras(codigoBarras)" />
                <button class="btn btn-outline-success" type="button" (click)="filtrarPorCodigoBarras(codigoBarras)">
                    Buscar
                </button>
            </div>
            <!-- Botón de agregar producto -->
            <button class="btn btn-primary" type="button" (click)="openAddDialog()">Agregar Producto</button>
        </div>
    </div>
</div>



<!-- Cards de productos -->
<div class="product-cards">
    <div *ngFor="let producto of productos" class="product-card">
        <img [src]="producto.imagenUrl" alt="{{ producto.nombreProducto }}">
        <h3>{{ producto.nombreProducto }}</h3>
        <h3>{{ producto.codigoBarras }}</h3>
        <p>Categoría: {{ producto.categoria }}</p>
        <p>Stock: {{ producto.stockAlmacen }}</p>

        <!-- Contenedor de botones -->
        <div class="button-container">
            <button (click)="openEditDialog(producto)">Editar</button>
            <button (click)="deleteProducto(producto.id)">Eliminar</button>
            <button (click)="openExistenciasDialog(producto)">Existencias</button>
        </div>
    </div>
</div>

<!-- Cuadro de diálogo para Editar Producto -->
<div *ngIf="isEditDialogOpen" class="edit-dialog">
    <div class="dialog-content">
        <h2>Editar Producto</h2>
        <form (ngSubmit)="updateProducto()">
            <label for="nombreProducto">Nombre</label>
            <input type="text" id="nombreProducto" [(ngModel)]="currentProducto.nombreProducto" name="nombreProducto">

            <label for="codigoBarras">Código de barras</label>
            <input type="text" id="codigoBarras" [(ngModel)]="currentProducto.codigoBarras" name="codigoBarras">

            <label for="tamano">Tamaño</label>
            <select id="tamano" [(ngModel)]="currentProducto.tamano" name="tamano">
                <option *ngFor="let tamano of tamanios" [value]="tamano">{{ tamano }}</option>
            </select>

            <label for="categoria">Categoría</label>
            <select id="categoria" [(ngModel)]="currentProducto.categoria" name="categoria">
                <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
            </select>

            <<label for="proveedorSelect">Seleccionar Proveedor</label>
            <select id="proveedorSelect" [(ngModel)]="proveedorInputEdit" name="proveedorSelect">
                <option *ngFor="let proveedor of proveedores" [value]="proveedor">{{ proveedor }}</option>
            </select>
            <button type="button" (click)="agregarProveedorEdit()">Agregar Proveedor</button>
            
            <!-- Lista de proveedores seleccionados para el producto -->
            <ul>
                <li *ngFor="let proveedor of currentProducto.proveedor; let i = index">
                    {{ proveedor }} 
                    <button type="button" (click)="eliminarProveedorEdit(i)">Eliminar</button>
                </li>
            </ul>
            
            


            <label for="imagenUrl">Imagen URL</label>
            <input type="text" id="imagenUrl" [(ngModel)]="currentProducto.imagenUrl" name="imagenUrl">

            <label for="precioPieza">Precio por pieza</label>
            <input type="number" id="precioPieza" [(ngModel)]="currentProducto.precioPieza" name="precioPieza">

            <label for="precioCaja">Precio por caja</label>
            <input type="number" id="precioCaja" [(ngModel)]="currentProducto.precioCaja" name="precioCaja">

            <label for="cantidadPiezasPorCaja">Cantidad por caja</label>
            <input type="number" id="cantidadPiezasPorCaja" [(ngModel)]="currentProducto.cantidadPiezasPorCaja"
                name="cantidadPiezasPorCaja">

            <div class="dialog-buttons">
                <button type="submit" class="save-button">Guardar cambios</button>
                <button type="button" class="cancel-button" (click)="closeEditDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<!-- Cuadro de diálogo para Actualizar Existencias -->
<div *ngIf="isExistenciasDialogOpen" class="existencias-dialog">
    <div class="dialog-content">
        <h2>Actualizar Existencias</h2>
        <form (ngSubmit)="actualizarStock()">
            <label for="codigoBarras">Código de Barras</label>
            <input type="text" id="codigoBarras" [(ngModel)]="productoExistencias.codigoBarras" name="codigoBarras"
                readonly>
            <input type="text" id="codigoBarras" [(ngModel)]="productoExistencias.codigoBarras" name="codigoBarras"
                readonly>

            <label for="nombreProducto">Nombre del Producto</label>
            <input type="text" id="nombreProducto" [(ngModel)]="productoExistencias.nombreProducto"
                name="nombreProducto" readonly>
            <input type="text" id="nombreProducto" [(ngModel)]="productoExistencias.nombreProducto"
                name="nombreProducto" readonly>

            <label for="stockNuevo">Nuevo Stock</label>
            <input type="number" id="stockNuevo" [(ngModel)]="productoExistencias.stockNuevo" name="stockNuevo">

            <div class="dialog-buttons">
                <button type="submit" class="save-button">Actualizar Stock</button>
                <button type="button" class="cancel-button" (click)="closeExistenciasDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<!-- Formulario para agregar producto -->
<div *ngIf="isAddDialogOpen" class="add-dialog">
    <div class="dialog-content">
        <h2>Agregar Nuevo Producto</h2>
        <form (ngSubmit)="addProducto()">
            <label for="nombreProducto">Nombre</label>
            <input type="text" id="nombreProducto" [(ngModel)]="newProducto.nombreProducto" name="nombreProducto"
                required>
            <input type="text" id="nombreProducto" [(ngModel)]="newProducto.nombreProducto" name="nombreProducto"
                required>

            <label for="codigoBarras">Código de barras</label>
            <input type="text" id="codigoBarras" [(ngModel)]="newProducto.codigoBarras" name="codigoBarras" required>


            <label for="tamano">Tamaño</label>
            <select id="tamano" [(ngModel)]="newProducto.tamano" name="tamano">
                <option *ngFor="let tamano of tamanios" [value]="tamano">{{ tamano }}</option>
            </select>

            <label for="marca">Marca</label>
            <select id="marca" [(ngModel)]="newProducto.marca" name="marca">
                <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
            </select>

            <label for="categoria">Categoría</label>
            <select id="categoria" [(ngModel)]="newProducto.categoria" name="categoria">
                <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
            </select>



            <label for="imagenUrl">Imagen URL</label>
            <input type="text" id="imagenUrl" [(ngModel)]="newProducto.imagenUrl" name="imagenUrl">


            <label for="proveedorInput">Proveedor</label>
            <div class="proveedor-input-container">
                <input type="text" id="proveedorInput" [(ngModel)]="proveedorInput" name="proveedorInput" />
                <button type="button" class="add-proveedor-button" (click)="agregarProveedor()">+</button>
            </div>


            <ul>
                <li *ngFor="let proveedor of newProducto.proveedor; let i = index">
                    {{ proveedor }} <button type="button" (click)="eliminarProveedor(i)">Eliminar</button>
                </li>
            </ul>


            <label for="precioPieza">Precio por pieza</label>
            <input type="number" id="precioPieza" [(ngModel)]="newProducto.precioPieza" name="precioPieza" required>

            <label for="precioCaja">Precio por caja</label>
            <input type="number" id="precioCaja" [(ngModel)]="newProducto.precioCaja" name="precioCaja">

            <label for="existenciaExhibida">Mínimo en existencias</label>
            <input type="number" id="existenciaExhibida" [(ngModel)]="newProducto.existenciaExhibida"
                name="existenciaExhibida">

            <label for="cantidadAlmacen">Mínimo en almacen</label>
            <input type="number" id="cantidadAlmacen" [(ngModel)]="newProducto.cantidadAlmacen" name="cantidadAlmacen">

            <label for="cantidadPiezasPorCaja">Cantidad por caja</label>
            <input type="number" id="cantidadPiezasPorCaja" [(ngModel)]="newProducto.cantidadPiezasPorCaja"
                name="cantidadPiezasPorCaja">
            <input type="number" id="cantidadPiezasPorCaja" [(ngModel)]="newProducto.cantidadPiezasPorCaja"
                name="cantidadPiezasPorCaja">

            <div class="dialog-buttons">
                <button type="submit" class="save-button">Agregar Producto</button>
                <button type="button" class="cancel-button" (click)="closeAddDialog()">Cancelar</button>
            </div>
        </form>
    </div>
</div>