<!-- Filtros -->
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 p-3">
    <h4 class="mb-3 mb-md-0">Productos</h4>
    <div class="d-flex flex-column flex-sm-row align-items-center gap-3">
      <!-- Select Ordenar -->
      <div class="input-group">
        <select
          [(ngModel)]="filtro"
          id="filtro"
          name="filtro"
          (change)="filtrarPorCategoria(filtro)"
          class="form-select d-inline w-auto"
        >
          <option value="" disabled selected>Ordenar por categoría</option>
          <option value="">Todos</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.nombreCategoria">
            {{ categoria.nombreCategoria }}
          </option>
        </select>
      </div>
  
      <!-- Input de búsqueda - Nombre del producto -->
      <div class="input-group">
        <input
          class="form-control"
          type="search"
          placeholder="Nombre del producto"
          aria-label="Search"
          [(ngModel)]="nombreProducto"
          (input)="filtrarPorNombre(nombreProducto)"
        />
        <!-- Ícono de búsqueda -->
        <div class="btn-icon" (click)="filtrarPorNombre(nombreProducto)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </div>
      </div>
  
      <!-- Input de búsqueda - Código de barras -->
      <div class="input-group">
        <input
          class="form-control"
          type="search"
          placeholder="Código del producto"
          aria-label="Search"
          [(ngModel)]="codigoBarras"
          (input)="filtrarPorCodigoBarras(codigoBarras)"
        />
        <div class="btn-icon" (click)="filtrarPorCodigoBarras(codigoBarras)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </div>
      </div>
    </div>
    
    <!-- Botón de Agregar Producto -->
    <div class="add-product-btn">
      <button class="btn btn-primary" type="button" (click)="openAddDialog()">Agregar Producto</button>
    </div>
  </div>
  


<!-- Cards de productos -->
<div class="product-cards">
    <div *ngFor="let producto of productos" class="product-card">
        <img [src]="producto.imagenUrl" alt="{{ producto.nombreProducto }}">
        <h3>{{ producto.nombreProducto }}</h3>
        <h3>{{ producto.codigoBarras }}</h3>
        <p>Categoría: {{ producto.categoria }}</p>
        <p>Stock: {{ producto.stockAlmacen }}</p>

        <!-- Contenedor de botones -->
        <div class="button-container">
            <button (click)="openEditDialog(producto)">Editar</button>
            <button (click)="deleteProducto(producto.id)">Eliminar</button>
            <button (click)="openExistenciasDialog(producto)">Existencias</button>
        </div>
    </div> 
</div>

<div *ngIf="isEditDialogOpen" class="edit-dialog">
  <div class="dialog-content">
    <app-editar-productos [currentProducto]="currentProducto"></app-editar-productos> <!-- Pasamos el producto -->
  </div>
</div>


<!-- Cuadro de diálogo para Actualizar Existencias -->
<div *ngIf="isExistenciasDialogOpen" class="existencias-dialog">
  <div class="dialog-content">
    <!-- Componente hijo donde pasas el producto -->
    <app-existencias [currentProducto]="currentProducto"></app-existencias>
  </div>
</div>


<!-- Formulario para agregar producto -->
<div *ngIf="isAddDialogOpen" class="add-dialog">
    <div class="dialog-content">
        <app-agregar-producto (close)="closeAddDialog()"></app-agregar-producto>
    </div>
</div>