<nav class="navbar navbar-expand-lg navbar-light fixed-top animated-navbar">
    <div class="container-fluid">
        <!-- Logo con animación -->
        <img src="assets/img/logoApp.jpg" class="logo animated-logo" alt="Logo">
        
        <a class="navbar-brand animated-text" href="#">ZAGUMIR</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Opciones solo visibles para Ayudante-Pasillo -->
                <li class="nav-item animated-nav-item" *ngIf="rol === 'Ayudante-Pasillo'">
                    <a class="nav-link active animated-link" routerLink="/ayudante-pasillo/abastecimiento-estantes/ver">Reabastecimiento Productos</a>
                </li>
                <li class="nav-item animated-nav-item" *ngIf="rol === 'Ayudante-Pasillo'">
                    <a class="nav-link animated-link" routerLink="/cliente/ver-productos">Productos</a>
                </li>

                <!-- Opciones solo visibles para Almacenista -->
                <li class="nav-item animated-nav-item" *ngIf="rol === 'Almacenista'">
                    <a class="nav-link animated-link" routerLink="/almacenista/lotes/ver">Lotes</a>
                </li>
                <li class="nav-item animated-nav-item" *ngIf="rol === 'Almacenista'">
                    <a class="nav-link animated-link" routerLink="/almacenista/productos/ver">Productos</a>
                </li>
            </ul>

            <!-- Botón de Login (solo si no hay rol) -->
            <a class="btn btn-outline-primary btn-custom animated-button" routerLink="/login" role="button" *ngIf="!rol">
                Login
            </a>

            <!-- Botón de Cerrar Sesión (solo si hay rol) -->
            <a class="btn btn-outline-danger btn-custom animated-button" role="button" (click)="cerrarSesion()" *ngIf="rol">
                Cerrar sesión
            </a>
        </div>
    </div>
</nav>
