/* Contenedor principal del formulario */
.dialog-content {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 750px;
    margin: auto;
    animation: fadeIn 0.5s ease-in-out;
    max-height: 80vh; /* Establece la altura máxima del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical cuando el contenido excede la altura */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h2 {
    text-align: center;
    color: #4A4A4A;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
}

input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al enfocarse en los inputs */
input:focus, select:focus {
    border-color: #7360DF;
    box-shadow: 0 0 10px rgba(115, 96, 223, 0.3);
    outline: none;
}

/* Estilo para el contenedor de proveedores */
.proveedor-input-container {
    display: flex;
    gap: 15px;
}

.add-proveedor-button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease;
}

/* Efecto hover del botón de agregar proveedor */
.add-proveedor-button:hover {
    background: #45a049;
}

/* Lista de proveedores */
.proveedor-list {
    list-style: none;
    padding: 0;
}

.proveedor-list li {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 8px;
    border-radius: 8px;
    margin-top: 5px;
    transition: background 0.3s ease;
}

.proveedor-list li:hover {
    background: #e0e0e0;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button, .close-button {
    background: #7360DF;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 8px;
    width: 48%;
    transition: background 0.3s ease;
}

.save-button:hover, .close-button:hover {
    background: #AA60C8;
}

.close-button {
    background: #f44336;
}

.close-button:hover {
    background: #e53935;
}

/* Estilo para el botón de cerrar */
button[type="button"] {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    background: #FF5733;
    color: white;
    border: none;
    transition: background 0.3s ease;
}

/* Efecto hover del botón de cerrar */
button[type="button"]:hover {
    background: #e04e2d;
}
