<div class="row">
    <div class="col-md-4 pe-4 border-end">
      <app-lista-historial (productoSeleccionado)="recibirProductoSeleccionado($event)"></app-lista-historial>
    </div>
  
    <div class="col-md-8">
      <h3>Detalles del Producto</h3>
      <div *ngIf="productoSeleccionado">
        <p><strong>Nombre:</strong> {{ productoSeleccionado.nombreProducto }}</p>
        <p><strong>Código de Barras:</strong> {{ productoSeleccionado.codigoBarras }}</p>
        <p><strong>Precio Actual:</strong> ${{ productoSeleccionado.precioPieza }}</p>
      </div>
      <div *ngIf="!productoSeleccionado">
        <p>Seleccione un producto de la lista.</p>
      </div>
    </div>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fechas de cambios</th>
          <th>Precios anteriores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let historial of historialPrecios">
          <td>{{ historial.fechaCambio | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ historial.precio | currency }}</td>
        </tr>
      </tbody>
    </table>  
  
  
  </div>