/* ======= ESTILOS DE LA TABLA ======= */
/* Asegura que la tabla esté justo debajo del bloque de detalles del producto */
.col-md-8 {
    padding-bottom: 20px; /* Espacio inferior entre el contenido de los detalles y la tabla */
  }
  
  table {
    width: 100%;
    margin-top: 20px; /* Espacio encima de la tabla */
    border-collapse: collapse; /* Para mejorar la visualización de bordes */
  }
  
  table th, table td {
    padding: 12px; /* Espaciado dentro de las celdas de la tabla */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Añade una línea de separación entre filas */
  }
  
  table th {
    background-color: #f8f9fa; /* Fondo gris claro para los encabezados de columna */
    font-weight: bold;
  }
  
  table tbody tr:hover {
    background-color: #f1f1f1; /* Resaltar fila cuando el usuario pase el mouse por encima */
  }
  
  table tfoot {
    font-weight: bold;
  }
  