<div class="dialog-content">
    <h2>Editar Producto</h2>
    <form (ngSubmit)="updateProducto()" class="product-form">
        
        <div class="form-layout">
                
            <!-- Sección Izquierda: Inputs -->
            <div class="form-left">
                <div class="form-group">
                    <label for="nombreProducto">Nombre</label>
                    <input type="text" id="nombreProducto" [(ngModel)]="currentProducto.nombreProducto" name="nombreProducto" required>
                </div>

                <div class="form-group">
                    <label for="codigoBarras">Código de barras</label>
                    <input type="text" id="codigoBarras" [(ngModel)]="currentProducto.codigoBarras" name="codigoBarras" required>
                </div>

                <div class="form-group">
                    <label for="tamano">Tamaño</label>
                    <select id="tamano" [(ngModel)]="currentProducto.tamano" name="tamano">
                        <option *ngFor="let tamano of tamanios" [value]="tamano">{{ tamano }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select id="categoria" [(ngModel)]="currentProducto.categoria" name="categoria">
                        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="marca">Marca</label>
                    <select id="marca" [(ngModel)]="currentProducto.marca" name="marca">
                        <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="proveedorSelect">Seleccionar Proveedor</label>
                    <div class="proveedor-input-container">
                        <select id="proveedorSelect" [(ngModel)]="proveedorInputEdit" name="proveedorSelect">
                            <option *ngFor="let proveedor of proveedores" [value]="proveedor">{{ proveedor }}</option>
                        </select>
                        <button type="button" class="add-proveedor-button" (click)="agregarProveedorEdit()">+</button>
                    </div>
                </div>

                <div class="full-width">
                    <ul class="proveedor-list">
                        <li *ngFor="let proveedor of currentProducto.proveedor; let i = index">
                            {{ proveedor }}
                            <button type="button" (click)="eliminarProveedorEdit(i)">Eliminar</button>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="precioPieza">Precio por pieza</label>
                    <input type="number" id="precioPieza" [(ngModel)]="currentProducto.precioPieza" name="precioPieza" required>
                </div>

                <div class="form-group">
                    <label for="precioCaja">Precio por caja</label>
                    <input type="number" id="precioCaja" [(ngModel)]="currentProducto.precioCaja" name="precioCaja">
                </div>

                <div class="form-group">
                    <label for="cantidadPiezasPorCaja">Cantidad por caja</label>
                    <input type="number" id="cantidadPiezasPorCaja" [(ngModel)]="currentProducto.cantidadPiezasPorCaja" name="cantidadPiezasPorCaja">
                </div>

                <div class="form-group">
                    <label for="stockExhibe">Cantidad mínima en existencias</label>
                    <input type="number" id="stockExhibe" [(ngModel)]="currentProducto.stockExhibe" name="stockExhibe">
                </div>
                <div class="form-group">
                    <label for="stockAlmacen">Cantidad mínima en almacén</label>
                    <input type="number" id="stockAlmacen" [(ngModel)]="currentProducto.stockAlmacen" name="stockAlmacen">
                </div>


                <div class="form-group">
                    <label for="cantidadAlmacen">Cantidad en almacén</label>
                    <input type="number" id="cantidadAlmacen" [(ngModel)]="currentProducto.cantidadAlmacen" name="cantidadAlmacen">
                </div>

                <div class="dialog-buttons">
                    <button type="submit" class="save-button">Guardar cambios</button>
                    <button type="button" class="cancel-button" (click)="closeEditDialog()">Cancelar</button>
                </div>
            </div>

            <!-- Sección Derecha: Imagen y Carrusel -->
            <div class="form-right">
                <div class="form-group"> 
                    <label for="imagenUrl">Imagen URL</label>
                    <input type="text" id="imagenUrl" [(ngModel)]="imagenUrlInput" name="imagenUrl">
                    <button type="button" class="add-image-button" (click)="agregarImagen()">Agregar Imagen</button>
                </div>

                <!-- Carrusel con auto-slide y animación -->
                <div class="carousel-container" *ngIf="currentProducto.imagenUrl && currentProducto.imagenUrl.length > 0">
                    <div id="carouselProducto" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-inner">
                            <div *ngFor="let img of currentProducto.imagenUrl; let i = index"
                                 class="carousel-item"
                                 [ngClass]="{'active': i === 0}">
                                <img [src]="img" alt="Imagen del producto" class="producto-img">
                            </div>
                        </div>
                        
                        <!-- Botón Anterior -->
                        <button class="carousel-control-prev custom-carousel-btn" type="button" data-bs-target="#carouselProducto" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon custom-icon"></span>
                        </button>

                        <!-- Botón Siguiente -->
                        <button class="carousel-control-next custom-carousel-btn" type="button" data-bs-target="#carouselProducto" data-bs-slide="next">
                            <span class="carousel-control-next-icon custom-icon"></span>
                        </button>
                    </div>
                    
                    <ul class="image-list">
                        <li *ngFor="let img of currentProducto.imagenUrl; let i = index">
                            <span [title]="img">
                                {{ img.split('/')[2] }}...
                            </span>
                            <button type="button" (click)="eliminarImagen(i)">Eliminar</button>
                        </li>
                    </ul>
                </div>
                
            </div>

        </div>
    </form>
</div>
