<h2>Editar Producto</h2>
<form (ngSubmit)="updateProducto()">
    <label for="nombreProducto">Nombre</label>
    <input type="text" id="nombreProducto" [(ngModel)]="currentProducto.nombreProducto" name="nombreProducto" required>

    <label for="codigoBarras">Código de barras</label>
    <input type="text" id="codigoBarras" [(ngModel)]="currentProducto.codigoBarras" name="codigoBarras" required>

    <label for="tamano">Tamaño</label>
    <select id="tamano" [(ngModel)]="currentProducto.tamano" name="tamano">
        <option *ngFor="let tamano of tamanios" [value]="tamano">{{ tamano }}</option>
    </select>

    <label for="categoria">Categoría</label>
    <select id="categoria" [(ngModel)]="currentProducto.categoria" name="categoria">
        <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>

    <label for="proveedorSelect">Seleccionar Proveedor</label>
    <select id="proveedorSelect" [(ngModel)]="proveedorInputEdit" name="proveedorSelect">
        <option *ngFor="let proveedor of proveedores" [value]="proveedor">{{ proveedor }}</option>
    </select>
    <button type="button" (click)="agregarProveedorEdit()">Agregar Proveedor</button>

    <ul>
        <li *ngFor="let proveedor of currentProducto.proveedor; let i = index">
            {{ proveedor }}
            <button type="button" (click)="eliminarProveedorEdit(i)">Eliminar</button>
        </li>
    </ul>

    <label for="imagenUrl">Imagen URL</label>
    <input type="text" id="imagenUrl" [(ngModel)]="currentProducto.imagenUrl" name="imagenUrl">

    <label for="precioPieza">Precio por pieza</label>
    <input type="number" id="precioPieza" [(ngModel)]="currentProducto.precioPieza" name="precioPieza" required>

    <label for="precioCaja">Precio por caja</label>
    <input type="number" id="precioCaja" [(ngModel)]="currentProducto.precioCaja" name="precioCaja">

    <label for="cantidadPiezasPorCaja">Cantidad por caja</label>
    <input type="number" id="cantidadPiezasPorCaja" [(ngModel)]="currentProducto.cantidadPiezasPorCaja" name="cantidadPiezasPorCaja">

    <div class="dialog-buttons">
        <button type="submit" class="save-button">Guardar cambios</button>
        <button type="button" class="cancel-button" (click)="closeEditDialog()">Cancelar</button>
    </div>
</form>
