/* Ajusta la altura de las tarjetas */
.producto-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Ajusta el tamaño de la imagen y la centra */
.producto-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px; /* Altura fija */
  width: 100%;
  overflow: hidden; /* Evita desbordamiento */
}

.producto-img {
  width: 60%;
  height: auto; /* Ajusta la altura de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
}

/* Trunca el texto con puntos suspensivos si es muy largo */
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-orange {
  color: orange;
}

.text-verde {
  color: rgb(157, 255, 0);
}
