<h4 class="mb-4 text-primary">Registro de Lotes</h4>
<form class="custom-form">
    <div class="mb-3">
        <label for="codigo" class="form-label text-primary">Código de lote</label>
        <input type="text" class="form-control" id="codigo" [(ngModel)]="lote.codigoLote" name="codigoLote"
            placeholder="Ingrese código de lote">
    </div>
    <div class="mb-3">
        <label for="codigoBarras" class="form-label text-primary">Código de barras del producto</label>
        <input type="text" class="form-control" id="codigoBarras" 
           [(ngModel)]="lote.codigoBarras" name="codigoBarras"
           placeholder="Ingrese código de barras" 
           (blur)="buscarProductoPorCodigo()"
           [ngClass]="{'input-error': codigoBarrasError}"
           (input)="codigoBarrasError = false">
    </div>
    <div class="mb-3">
        <label for="nombreProducto" class="form-label text-primary">Nombre del producto</label>
        <input type="text" class="form-control readonly-input" id="nombreProducto" [(ngModel)]="lote.producto" name="producto"
            placeholder="Nombre del producto" readonly>
    </div>
    <div class="mb-3">
        <label for="cantidadCajas" class="form-label text-primary">Cantidad de cajas</label>
        <input type="number" class="form-control" id="cantidadCajas" [(ngModel)]="lote.cantidadComprada"
            name="cantidadComprada" min="1" placeholder="Ingrese cantidad">
    </div>
    <div class="mb-3">
        <label for="fecha" class="form-label text-primary">Fecha de caducidad</label>
        <input type="date" class="form-control" id="fecha" [(ngModel)]="lote.fechaCaducidad" name="fechaCaducidad">
    </div>
    <button type="button" class="btn btn-primary w-100" (click)="registrarLote()">
        Actualizar
    </button>
</form>
